.benefit-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;

  h5 {
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
    color: #0f172a;
    align-self: flex-start;
    margin-top: 18px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: #475569;
    align-self: flex-start;
  }
}

@media (min-width: 768px) {
  .benefit-card {
    h5 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }
  }
}
